/* A CSS rule that allows you to download a font from your server to display text. */
@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Black.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto/Roboto-LightItalic.ttf) format("truetype");
    font-weight: 300;
}

/* It selects all elements. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif; 
    font-size: 18px;
    font-weight: 400;
    /* line-height: 1.5; */
}

img {
    width: 100%;
    object-fit: cover;
}

/* =================
Typography
================= */
h1,h2 {
    font-weight: 900;
}

h1 {
    margin-bottom: 0;
    font-size: 48px;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    color: #1f2937;
}

h3 {
    font-size: 20px;
}

.hero-secundari-text, a {
    color: #e5e7eb;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.header-logo{
    font-size: 24px;
    color:#f9faf8;
}

/* =================
Layout
================= */

/* header*/
.dark-color {
    background-color: #1f2937;
}

header,
section {
    padding: 10px 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* button */
.btn {
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
    font-weight: 700;
    color: #f9faf8;
    background: #3882f6;
    margin: 10px 0;
    cursor: pointer;
}

.btn:hover, 
.btn:focus {
    background: #edb041;
    color: #1F2937;
}

/* navigation */
menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 35px;
}

li a {
    text-transform: uppercase;
}

.current-page-link {
    border-bottom: 1px solid #707070;
}

/* main section */
main {
    width: 100%;
}

.hero {
    padding: 20px 50px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    margin-right: 10px;
}

.hero-images {
    width: 100%;
    max-width: 550px;
    height: 200px;
}

.infomation {
    text-align: center;
}

.flex-row {
    max-width: 690px;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    margin: 0 auto;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card-image {
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 8px;
}


.card-link {
    width: fit-content;
    background: #edb041;
    color: #1F2937;
}

.card-link:hover, 
.card-link:focus {
    background: #3882f6;
    color: #f9faf8;
}

/* quote-section */
.quote-section {
    background: #e5e7eb;
    font-weight: 300;
    font-style: italic;
    padding: 20px 50px;
}

.quote-text {
    margin: 20px 50px;
    font-size: 36px;
    color: #1f2937;
}

.quote-author {
    margin-top: 0;
    font-weight: 700;
    text-align: right;
}

/* email-collector */
.email-collector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 40px auto;
    border-radius: 10px;
    padding: 30px 50px;
    background: #3882f6;
}

section.content {
    padding: 0;
    
}

.btn-email {
    border: #f9faf8 1px solid;
}


/* footer */
footer {
    text-align:center;
    padding: 25px 0;
    font-size: 16px;
    color: #f9faf8;
}

/* =================
Media Queries
================= */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav menu {
        flex-direction: column;
        
    }

    nav li {
        margin-left: 0;
        margin-top: 10px;
    }

    .flex-column {
        margin-right: 0;
    }

    .flex-row {
        flex-direction: column;
    }

    .card {
        margin: 10px 0;
    }

    .quote-section {
        padding: 20px 0;
    }
    .quote-author {
        text-align: center;
    }

    .email-collector {
        flex-direction: column;
        width: 100%;
    }

    .email-collector button {
        margin-bottom: 10px;
    }
}